$color-green: #c3e6cb;
$color-green-dark: #155724;
$color-yellow: #ffeeba;
$color-yellow-dark: #856404;
$color-red: #f5c6cb;
$color-red-dark: #721c24;
$color-dark: #c6c8ca;
$color-darker: #1b1e21;
$color-grey: #6c757d;
$color-black: #000;
