span.legend {
  border-radius: .25rem;
  padding: .3rem;
  border: 1px solid rgba(0,0,0,.125);
  margin: .2rem;
  font-size: 1rem;
  display: inline-block;
}

span.legend.success {
  background-color: #c3e6cb;
  color: #155724;
}

span.legend.danger {
  background-color: #f5c6cb;
  color: #721c24;
}

span.legend.warning {
  background-color: #ffeeba;
  color: #856404;
}

span.legend.dark {
  background-color: #c6c8ca;
  color: #1b1e21;
}

.droppable {
  border-radius: .25rem .25rem 0 0;
  border: 1px dashed;
  height: calc(100vh - 265px - 40px);
  overflow-y: auto;
}

.list-group-item:last-child, .list-group-item:first-child {
  border-radius: 0;
}

.list-group div:first-child .list-group-item {
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}

.list-group div:last-child .list-group-item {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.monsterList {
  height: calc(100vh - 304px);
  overflow-y: auto;
}

.monster-card button {
  background-color: transparent;
  border-color: transparent;
  color: #6c757d;
}

.monster-card button:focus {
  box-shadow: none;
}

.progress {
  height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #6c757d;
}

.progress .bg-light {
  color: #000;
}

input.small-field {
  width: 50px !important;
}

.encounter-save {
  position: sticky;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
